<%= form_tag(tasks_path, method: :get,style:'float:left;margin-right:3px', class:"form-inline") do %>
 <%= text_field_tag :term1, params[:term1],placeholder:'  search by task name', class:"form-control mr-sm-2" %>
 <%= submit_tag ' Search', class:"btn btn-outline-primary my-2 my-sm-0", name: nil , type:"submit", id:"every"%>
<% end %><br/><br/>
<%= form_tag(tasks_path, method: :get,style:"float:left;margin-right:3px", class:"form-inline") do %>
 <%= text_field_tag :term2, params[:term2],placeholder:'  search by status', class:"form-control mr-sm-2" %>
 <%= submit_tag 'Search', class:"btn btn-outline-primary my-2 my-sm-0", name: nil, type:"submit", id:"every" %>
<% end %>
<h1>Tasks</h1><br/><br/>

<table class="table table-striped table-dark" id="table">
  <thead>
    <tr class="table-primary" style="color:black;"> 
  
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Content</th>
       <th scope="col">Priority</th>
        <th scope="col">Start date</th>
         <th scope="col">End date</th>
         <th scope="col">User</th>
         <th scope="col">Action</th>
         <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <% if task.user_id == current_user.id %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <td><%= task.content %></td>
        <td><%= task.prior %></td>
        <td><%= task.start_date %></td>
        <td><%= task.end_date %></td>
        <td><%= task.user_id %></td>
        <td>
          <%= link_to 'Show', task, class:"btn btn-success" %>
          <%= link_to 'Edit', edit_task_path(task), class:"btn btn-primary" %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </td>
      </tr>
      <% end %>
      <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
</center>



