<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    
      </li>
    </ul>
  </div>
</nav><br/><br/>
<h1>Tasks</h1><br/><br/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Content</th>
      <th>Priority</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <td><%= task.content %></td>
        <td><%= task.prior %></td>
        <td><%= task.start_date %></td>
        <td><%= task.end_date %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/><br/>

<%= link_to 'New Task', new_task_path %><br/><br/>

<%= link_to "name", tasks_path(sort_by: "name"),class:'btn btn-primary' %>
<%= link_to "end_date", tasks_path(sort_by: "end_date"),class:'btn btn-danger' %>
<p id="notice"><%= notice %></p><br/><br/>

<%= form_tag(tasks_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search tasks" %>
  <%= submit_tag "Search" %>
<% end %><br/><br/>

<%= paginate @tasks %>




