<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.prior%>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @task.end_date %>
</p>

<p> <h2> Labels attached to this task</h2>
<% @task.labels.each do |label| %>
<ul>
<li class = "user-tasks">
Title:<%= label.title + '       ' %> <br/>Content:<%= label.content %>
</li>
</ul>
<% end %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
