<p id="notice"><%= notice %></p>
<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a a class="navbar-brand" href="#" id="every">Everleaf</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
      <%= link_to 'Home', users_path, class:"nav-link", id:"every" %>
      </li>
      <li class="nav-item">
      <%= link_to 'New User', new_user_path, class:"nav-link", id:"every" %>
      </li>
     
    </ul>
  </div>
</nav><br/><br/>
<center>
<h1>Users</h1><br/><br/>

<table class="table table-striped table-dark" id="table">
<thead>
<tr class="table-primary" style="color:black;"> 
    <tr>
      <th scope="col">Name</th>
      <th scope="col">User_type</th>
      <th scope="col">Email</th>
       <th scope="col">Action</th>
       </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
  <td><%= user.name %></td>
        <td><%= user.user_type %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class:"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class:"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</center>


